@charset "UTF-8";
.navigation {
  height: 70px;
  background: rgba(244, 244, 244, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.navigation .nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
.navigation .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.navigation .brand a,
.navigation .brand a:visited {
  color: #000;
  text-decoration: none;
}
.navigation nav {
  float: right;
}
.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation nav ul li {
  float: left;
  position: relative;
}
.navigation nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: inherit;
  color: #000;
  text-decoration: none;
}
.navigation nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #0000ff;
  width: 0%;
  bottom: 0px;
}
.navigation nav ul li a:hover::before {
  width: 70%;
}
.navigation nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.navigation nav ul li ul li {
  min-width: 190px;
}
.navigation nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navigation .nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  height: auto;
  padding: 5px;
  background: rgba(244, 244, 244, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.navigation .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: inherit;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 826px) {
  .navigation .nav-mobile {
    display: block;
  }
  .navigation nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  .navigation nav ul {
    display: none;
    height: auto;
    background: rgba(244, 244, 244, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .navigation nav ul li {
    float: none;
  }
  .navigation nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .navigation nav ul li a:hover::before {
    width: 20%;
  }
  .navigation nav ul li ul li a {
    padding-left: 30px;
  }
  .navigation .nav-dropdown {
    position: static;
  }
}
.navigation #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
.navigation #nav-toggle span,
.navigation #nav-toggle span:before,
.navigation #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #0000ff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.navigation #nav-toggle span:before {
  top: -10px;
}
.navigation #nav-toggle span:after {
  bottom: -10px;
}
.navigation #nav-toggle.active span {
  background-color: transparent;
}
.navigation #nav-toggle.active span:before, .navigation #nav-toggle.active span:after {
  top: 0;
}
.navigation #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.navigation #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 826px) {
  .navigation .nav-list {
    display: block !important;
  }
}

.fadeIn {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInDown {
  animation: fadeInDown 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInUp {
  animation: fadeInUp 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.type--A {
  --line_color: #2D68C4 ;
  --back_color: #00FFFF ;
  color: white;
}

.type--B {
  --line_color: #1b1919 ;
  --back_color: #E9ECFF ;
}

.type--C {
  --line_color: #00135C ;
  --back_color: #DEFFFA ;
}

.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 112px - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 112px - 16px);
}

.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}

.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}

.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}

.button:hover {
  letter-spacing: 6px;
  color: blue;
}

.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 112px - 16px);
}

.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}

.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}

.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}

.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}

.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}

.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}

.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}

.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}

.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}
.btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.wrapper {
  max-width: 1100px;
  margin: 15px auto;
}

/* Calendar container */
.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

/* Event section styling */
#event-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px 0;
  border: 1px solid #ccc;
}

.container-calendar #left h1 {
  color: green;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 10px 0;
}

#event-section h3 {
  color: green;
  font-size: 18px;
  margin: 0;
}

#event-section input[type=date],
#event-section input[type=text] {
  margin: 10px 0;
  padding: 5px;
  width: 80%;
}

#event-section button {
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.event-marker {
  position: relative;
}

.event-marker::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* event tooltip styling */
.event-tooltip {
  position: absolute;
  background-color: rgba(234, 232, 232, 0.763);
  color: black;
  padding: 10px;
  border-radius: 4px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.event-marker:hover .event-tooltip {
  display: block;
}

/* Reminder section styling */
#reminder-section {
  padding: 10px;
  background: #f5f5f5;
  margin: 20px 0;
  border: 1px solid #ccc;
}

#reminder-section h3 {
  color: green;
  font-size: 18px;
  margin: 0;
}

#reminderList {
  list-style: none;
  padding: 0;
}

#reminderList li {
  margin: 5px 0;
  font-size: 16px;
}

/* Style for the delete buttons */
.delete-event {
  background: rgb(237, 19, 19);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  align-items: right;
}

/* Buttons in the calendar */
.button-container-calendar button {
  cursor: pointer;
  background: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

/* Date picker */
.date-picker.selected {
  background-color: #f2f2f2;
  font-weight: bold;
  outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
  color: red;
  /* Sunday */
}

.date-picker:nth-child(6) {
  color: green;
  /* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
  text-align: center;
  margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

/* Footer styling */
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
@media (max-width: 768px) {
  .flip-card {
    height: 340px;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
@media (max-width: 768px) {
  .flip-card-inner {
    height: 340px;
  }
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
@media (max-width: 768px) {
  .flip-card-front, .flip-card-back {
    height: 340px;
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
@media (max-width: 768px) {
  .flip-card-front {
    height: 340px;
  }
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=main.css.map */
