<div class="row align-items-center justify-content-center">
    <div class="col-lg-6 mb-lg-0 mb-3">
        <iframe width="100%" height="360" src="https://www.youtube.com/embed/UUINLqhiN8c" title="Be Thou My Vision • Congregational" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 mb-lg-0 mb-3">
        <div id="fadeInAbout">
            <h2 class="display-3 text-info fw-light"><span class="fw-bold">About</span> Us</h2>
            <p class="text-muted mb-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis necessitatibus veniam. Accusantium deleniti facilis maxime quod? Aspernatur est, quas. Aliquam, dicta error numquam pariatur provident reiciendis rerum tempora unde!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum, cumque cupiditate dicta dignissimos eius, excepturi illo ipsum libero minus modi neque porro quidem, quos similique totam vitae voluptas voluptatum?
            </p>
            <a class="btn btn-outline-primary"
               href="assets/MEMBERSHIP_MANUAL_(Revised_November 2025).pdf"
               target="_blank">
                Become A Member
            </a>
        </div>
    </div>
</div>