<div class="row align-items-center justify-content-center">
    <div class="col-lg-6 mb-lg-0 mb-3">
        <iframe width="100%" height="360" src="https://www.youtube.com/embed/UUINLqhiN8c" title="Be Thou My Vision • Congregational" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 mb-lg-0 mb-3">
        <div id="fadeInAbout">
            <h2 class="display-3 text-info fw-light"><span class="fw-bold">About</span> Us</h2>

            <ul>
                <li>
                    <strong>Sunday School Times</strong> 8:30am to 9:30am
                </li>
                <li>
                    <strong>Sunday Service</strong> at 11am
                </li>
                <li>
                    <strong>Bible Study</strong> 12pm & 7pm
                </li>
            </ul>
            <a class="btn btn-outline-primary rounded-pill"
               href="assets/MEMBERSHIP_MANUAL_(Revised_November 2025).pdf"
               target="_blank">
                Become A Member
            </a>
        </div>
    </div>
</div>