<section class="mb-7">

    <style>
        @media (max-width: 767px) {
            #streak {
                height: 700px !important;
            }
        }
    </style>

    <div id="streak" class="bg-image bg-fixed text-center"
         style="background-image: url('https://www.indystar.com/gcdn/presto/2019/07/12/PIND/c4f6e8ba-c234-4706-9c6a-7dea9d743f5c-BlackexpoEcumenicalService_GH_060.JPG?crop=2277'); height: 400px;">
        <div class="mask" style="background-color: rgba(0,0,0,.7);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2 class="mb-3">Come Worship With Us, We're Growing!!!</h2>
                    <p class="mb-5">Friday 17/10/2018, 8:00 am</p>
                    <div class="row">
                        <div class="col-md-4">
                            <hr class="mx-5" style="opacity: 1;">
                            <h2 class="display-4 text-primary font-weight-bold">
                                <strong>20</strong>
                            </h2>
                            <hr class="mx-5" style="opacity: 1;">
                            <p class="font-weight-bold text-uppercase mb-0 text-info">days</p>
                        </div>
                        <div class="col-md-4">
                            <h2 class="display-4 font-weight-bold mx-4 py-3 my-3" style="background-color: rgba(255,255,255,.2);">
                                <strong class="text-primary">12</strong>
                            </h2>
                            <p class="font-weight-bold text-info text-uppercase pt-1 mb-0">hours</p>
                        </div>
                        <div class="col-md-4">
                            <hr class="mx-5" style="opacity: 1;">
                            <h2 class="display-4 font-weight-bold">
                                <strong class="text-primary">35</strong>
                            </h2>
                            <hr class="mx-5" style="opacity: 1;">
                            <p class="font-weight-bold text-info mb-0">MINS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>