<section id="contact" class="mb-4">
    <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-7 mb-3">
            <% if(contactData != "") { %>
                <p class="fw-bold h1 mb-1">Contact Us</p>
                <form action="/send/email"
                      method="POST"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" required name="name" id="name" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" required name="phones" id="phones" placeholder="phone#">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" required name="from" id="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" required id="message" name="message" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div id="message"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <% } else { %>
                <p class="lead">
                    Contact us by one of the contact methods provided. We will have a contact form available as soon as we get it assigned to a contactable person.
                    Thank you for visiting our website, please don't hesitate to reach out.
                </p>
                <% if(loggedIn) { %>
                   <a href="/newContact" class="btn btn-outline-primary rounded-pill">Upload Contact</a>
                <% } %>
            <% } %>
        </div>
        <div class="col-lg-5 mb-3">
            <h4 class="text-info">We'd Love To Hear From You.</h4>
            <p>
                <i class="fas fa-map-marker-alt pr-2"></i>
                1003 Main St<br>
                New York, NY 11111
            </p>
            <p>
                <i class="fas fa-envelope pr-2"></i>
                newburghdpastor@aol.com
            </p>
            <p>
                <i class="fas fa-phone pr-2"></i>
                555-555-5555
            </p>
            <% if(loggedIn) { %>
                <% for(i=0; i < contactData.length; i++) { %>
                    <p class="mb-3">
                        Current person receiving form(s) is: <br>
                        <%= contactData[i].adminName %> <a href="/delete/contact/<%= contactData[i]._id %>" class="text-warning">delete</a> <br>
                        <%= contactData[i].email %>
                    </p>
                <% } %>
            <% } %>

        </div>
    </div>
</section>