<div>
    <style>
        .bg-intro {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
            url("https://images.unsplash.com/photo-1529070538774-1843cb3265df?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
            no-repeat center center fixed;
            background-size: cover;
            height: 80vh;
        }
    </style>
    <section class="container">
        <section class="row justify-content-center text-info align-items-center text-center align-items-center"
                 style="height: 90vh;">
            <div class="col-lg-12">
                <h1 class="display-5 fadeIn mb-2 fw-light">The <span class="fw-bold">A.M.E.</span> Zion Church of Newburgh</h1>
                <p class="h4 fadeInLeft delay-1">
                    To God be all of our faith, love, and worship from the heart.
                </p>
                <div class="btn-container fadeIn delay-2">
                    <a href="#contact" class="button type--A">
                        <div class="button__line"></div>
                        <div class="button__line"></div>
                        <span class="button__text">Worship With Us</span>
                        <div class="button__drow1"></div>
                        <div class="button__drow2"></div>
                    </a>
                </div>
            </div>
        </section>
    </section>
</div>