<div class="row justify-content-lg-start justify-content-center mb-6 text-lg-start text-center">
    <div class="col-12">
        <h4 class="display-4 fw-light">Our Church <span class="fw-bold text-info">Programs</span></h4>
        <p class="lead">
            We invite you to come and be a part of our church. Below are some programs we do weekly, <u>hover over</u> with your <u>mouse</u> with each image to learn more
            about programs that you can attend.

        </p>
    </div>
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <div class="flip-card rounded-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://mensministrycatalyst.org/wp-content/uploads/2022/07/men-bible-study.jpg"
                         class="shadow-lg"
                         alt="Avatar"
                         style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <div class="row mx-auto justify-content-center align-items-center pt-3">
                        <div class="col-10">
                            <p class="h5">Men's Bible Study</p>
                            <p>
                                Join Us Wednesdays at 6:00am for Men's Bible study and
                                hear what we have to say about enriching each other's lives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <div class="flip-card rounded-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://answeredfaith.com/wp-content/uploads/2024/07/womens-bible-study-activities.jpg"
                         class="shadow-lg"
                         alt="Avatar"
                         style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <div class="row mx-auto justify-content-center align-items-center pt-3">
                        <div class="col-10">
                            <p class="h5">Women's Brunch</p>
                            <p>
                                Join Us Wednesdays at 6:00am for Men's Bible study and
                                hear what we have to say about enriching each other's lives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <div class="flip-card rounded-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://media.istockphoto.com/id/520370326/photo/librarian-reads-aloud-to-a-group-of-children.jpg?s=612x612&w=0&k=20&c=Uye1yX3WV6nIARTkXQWoP7fUWbvsmNsbwRyNKbQiKjo="
                         class="shadow-lg"
                         alt="Avatar"
                         style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <div class="row mx-auto justify-content-center align-items-center pt-3">
                        <div class="col-10">
                            <p class="h5">Kid's Bible Study</p>
                            <p>
                                Join Us Wednesdays at 6:00am for Men's Bible study and
                                hear what we have to say about enriching each other's lives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <div class="flip-card rounded-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://cdn.arstechnica.net/wp-content/uploads/2023/06/ai_church_hero_3-800x450.jpg"
                         class="shadow-lg"
                         alt="Avatar"
                         style="width:100%;height:100%;">
                </div>
                <div class="flip-card-back">
                    <div class="row mx-auto justify-content-center align-items-center pt-3">
                        <div class="col-10">
                            <p class="h5">Sunday Morning</p>
                            <p>
                                Join Us Wednesdays at 6:00am for Men's Bible study and
                                hear what we have to say about enriching each other's lives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>