<section class="mb-6 text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
                                                   background: hsla(0, 0%, 100%, 0.55);
                                                   backdrop-filter: blur(30px);
                                                   ">
                    <div class="card-body py-5 px-md-5 shadow-5">
                        <h3 class="fw-bold">Lead Us In Prayer</h3>
                        <h5 class="text-primary mb-4">Prayers To Start The Day</h5>

                        <p class="text-muted mb-2" id="fadeInPrayer1">
                            “Let the morning bring me word of your unfailing love, for I have put my trust in you. Show me the way I should go, for to you I entrust my life.” <strong>—Psalm 143:8</strong>
                        </p>
                        <p class="text-muted mb-2" id="fadeInPrayer2">
                            “Guide me in your truth and teach me, for you are God my Savior, and my hope is in you all day long.” <strong>—Psalm 25:5</strong>
                        </p>
                        <p class="text-muted mb-2" id="fadeInPrayer3">
                            “Lord, be gracious to us; we long for you. Be our strength every morning, our salvation in time of distress.” <strong>—Isaiah 33:2</strong>
                        </p>
                        <p class="text-muted mb-3" id="fadeInPrayer4">
                            “Satisfy us in the morning with your unfailing love, that we may sing for joy and be glad all our days.” <strong>—Psalm 90:14</strong>
                        </p>
                        <a href="/inHimWeTrust" class="btn btn-outline-primary rounded-pill">Need Salvation?</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://cdn.pixabay.com/photo/2024/05/29/23/45/praying-8797403_1280.jpg"
                     class="w-100 rounded-5 shadow-4" alt="power of prayer">
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>