<section class="mb-6 text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }
        @media (max-width: 991.98px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
                                                   background: hsla(0, 0%, 100%, 0.55);
                                                   backdrop-filter: blur(30px);
                                                   ">
                    <div class="card-body py-5 px-md-5 shadow-5">
                        <h3 class="fw-bold">Lead Us In Prayer</h3>
                        <h5 class="text-primary mb-4">Prayers To Start The Day</h5>
                        <p class="text-muted mb-2" id="fadeInPrayer1">
                            “Trust in the Lord with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.”
                            <strong>—Proverbs 3:5-6</strong>
                        </p>
                        <p class="text-muted mb-2" id="fadeInPrayer2">
                            “If any of you lacks wisdom, you should ask God, who gives generously to all without finding fault, and it will be given to you.”
                            <strong>—James 1:5</strong>
                        </p>
                        <p class="text-muted mb-2" id="fadeInPrayer3">
                            “Trust in the Lord with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.”
                            <strong>—Proverbs 3:5-6</strong>
                        </p>
                        <p class="text-muted mb-2" id="fadeInPrayer4">
                            “My grace is sufficient for you, for My strength is made perfect in weakness.”
                            <strong>—2 Corinthians 12:9</strong>
                        </p>
                        <a href="/#" class="btn btn-outline-primary mt-3 rounded-pill">Joins Us Soon</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/assets/ame_flyer.png"
                     class="w-100 rounded-5 shadow-4" alt="power of prayer">
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>