<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main style="margin-top: 140px; margin-bottom: 70px;">
    <section class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 text-md-start text-center">
                <h1 class="mb-3 fw-bold display-3 text-primary">From Our Beginning</h1>
                <p>
                    In September 2001, Reverend Stubbs was ordained a Deacon and in September
                    2003 he was ordained an Elder, in the African Methodist Episcopal Zion Church.
                    In June 2003, Reverend Stubbs received his first pastoral appointment at the
                    John Jamison Moore Memorial African Methodist Episcopal Zion Church in the
                    Bronx, New York, where he served for three years. In June 2006, Reverend
                    Stubbs was appointed the pastor of the Mother Walls African Methodist
                    Episcopal Zion Church in the Bronx, New York, where is continues to serve
                    faithfully.
                </p>
                <p>
                    Born and raised in Bennettsville, South Carolina, Reverend Stubbs graduated
                    from Bennettsville High School and later graduated from the Gupton-Jones
                    College of Mortuary Science, Atlanta, Georgia.
                </p>
                <p>
                    Reverend Stubbs was formerly a Manager with the New York City Housing
                    Authority for approximately nine years, and is now fortunate to devote his time
                    and talents to full-time ministry. Besides his pastoral and family responsibilities,
                    Reverend Stubbs has also found time to do volunteer work and is a member of
                    the Bronx Community Board #3.
                </p>
                <p>
                    In June 2009, Reverend Stubbs married Valentina Kemp who he met while
                    working as the New York Annual Conference Secretary while she was working as
                    the Westchester District Secretary.
                </p>
                <p>
                    Reverend Stubbs is passionate about the word of God and its ability to transform
                    lives. He believes the heart to winning souls to Christ is not solely by what you
                    say, but by what people see as a result of your life. His favorite scripture is
                    Matthew 6:33 “But seek ye first his kingdom, and his righteousness; and all
                    these things shall be added unto you” (ASV).
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>