<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    .line {
        width: auto;
        height: 1px;
        background: deepskyblue;
        display: block;
    }
</style>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main style="margin-top: 120px; margin-bottom: 70px;">
    <section class="container">
        <div class="row justify-content-md-start justify-content-center text-md-start text-center align-items-center">
            <div class="col-12 mb-5">
                <h1 class="mb-1 fw-bold display-4 text-primary">From Our Beginning</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto labore laudantium nihil totam? Accusantium at corporis eaque facilis itaque libero maiores, minus modi, omnis pariatur quas ratione sed vero.
                </p>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <span class="bg-info text-white rounded-circle p-3">1827</span>
                <p class="text-muted mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt distinctio esse harum hic laborum quisquam quo. Cum facilis id labore. Ab, aperiam corporis enim eum minus praesentium sapiente sunt.
                </p>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <span class="bg-info text-white rounded-circle p-3">2001</span>
                <p class="text-muted mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt distinctio esse harum hic laborum quisquam quo. Cum facilis id labore. Ab, aperiam corporis enim eum minus praesentium sapiente sunt.
                </p>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <span class="bg-info text-white rounded-circle p-3">2014</span>
                <p class="text-muted mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, deserunt distinctio esse harum hic laborum quisquam quo. Cum facilis id labore. Ab, aperiam corporis enim eum minus praesentium sapiente sunt.
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>