<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    .line {
        width: auto;
        height: 1px;
        background: deepskyblue;
        display: block;
    }
</style>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main style="margin-top: 120px; margin-bottom: 70px;">
    <section class="container">
        <div class="row justify-content-md-start mb-3 justify-content-center text-md-start text-center align-items-center">
            <div class="col-12 mb-1">
                <img src="/assets/full-logo.png" height="210" width="210" alt="logo">
                <h1 class="mb-1 fw-bold display-4 text-primary">History of the AME Zion Church</h1>
                <p class="text-muted mt-5">
                    The African Methodist Episcopal Zion
                    Church of Newburgh, located at 111
                    Washington Street, in the City of Newburgh,
                    New York, was established on Montgomery
                    Street in 1827. The African Methodist
                    Episcopal Zion Church of Newburgh is the
                    oldest African American Church in the
                    Hudson Valley. It was established out of a
                    need to provide a presence for the
                    underserved and was known for its spiritual
                    fire and community presence, a tradition
                    we continue today.
                </p>
            </div>
            <div class="col-lg-6 mb-lg-0 mb-3">
                <p class="text-muted mt-3">
                    Many denominational leaders came out of
                    this Newburgh Church: This local church
                    has produced bishops, several general
                    officers in the Connection. Abolitionist such
                    as Harriet Tubman, Sojourner Truth, and
                    Frederick Douglas, an ordained minister in
                    the A.M.E. Zion Church; Civil Rights leaders,
                    and many other productive agents of
                    change.
                </p>
            </div>
            <div class="col-lg-6 mb-lg-0 mb-3">
                <p class="text-muted mt-3">
                    Going forward, we hope to continue our
                    leadership in the Newburgh Community
                    and stand as beacons for others as
                    Newburgh is revitalized. As we experience
                    resurgence of energy and rebirth of our city,
                    we realize a strong spiritual presence is
                    needed. We invite you to join us and be a
                    part of this renewal.
                </p>
            </div>
        </div>
        <div class="row justify-content-md-start justify-content-center">
            <div class="col-lg-12 mb-4">
                <p class="text-muted">
                    Our church has a variety of ministries which
                    address the needs of our membership and
                    the community. The following ministries
                    are designed to reach and meet the needs
                    of the entire church family.
                </p>
            </div>
            <div class="col-lg-12 mb-3">
                <strong class="text-center">Our active ministries are:</strong>
                <p>
                    Pastoral Ministry provides oversight of all
                    Organizations and Boards of the church.
                    The Pastor attends to the spiritual needs of
                    the membership, instructs, appoints,
                    organizes, and encourages and when
                    needed will provide referrals to outside
                    agencies. The Pastor receives new members
                    on probation, performs baptisms, funerals
                    and marriages according to the Doctrines of
                    the A.M.E. Zion Church.

                    The Boards of Trustees and Stewards
                    attends to the business of the church and
                    its facilities;
                </p>
                <p>
                    Class Leader Program which assist the
                    Pastor in attending to the well-being of
                    each member;
                </p>

                <p>
                    Deaconess ministry supports the Pastor
                    whenever spiritual support is needed
                    individually and collectively; as provided
                    through prayer, visitation to the sick and
                    shut-in, funeral services and assisting in
                    serving The Lord’s Supper.
                    <br>
                    Prayer, Bible Study, Church School, and
                    Children’s Church enrich and support
                    spiritual growth and development;

                    The Food Pantry ministry seeks to address
                    the food insufficiency of our community.
                    We serve the community each Thursday
                    from 10am-12 noon. We serve an average
                    of 150 plus families per week. We serve
                    with kindness and respect.
                    <br><br>
                    Our Health ministry seeks to address and
                    enhance the needs of our physical growth
                    and development. Presently, this ministry
                    gathers and shares information that deals
                    directly with the health concerns which our
                    membership faces in today’s society.
                    Our Missionary ministry involves our
                    outreach into the community through food
                    banks, clothing drives, and feeding the
                    needy.
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>