<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    #hide-2 {
        display: none;
    }
    @media(max-width: 992px) {
        #hide-2 {
            display: block;
        }
        #hide-1 {
            display: none;
        }
    }
</style>
<body>
<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 mb-4 text-lg-start">
                <h1 class="text-danger mb-2">Ch<i class="fas me-1 fa-heart"></i><i class="fas me-1 fa-heart"></i>se Healthy Life</h1>
                <hr class="my-3 w-25">
                <h3 class="display-1 fw-bold mb-4">Dr. Valentina Stubbs</h3>
                <p class="lead text-info mb-3">
                    Join us for a discussion with Dr. Stubbs as she explores the topic of depression.
                </p>
                <p class="lead text-info mb-3">
                    Friday, March 13, 2026 @ 12:00PM. AME Zion Church of Newburgh <br>
                    <address>109 Washington Street <br> Newburgh, NY 12550</address>
                </p>
                <p class="text-muted mb-2">
                    For More information, please call me at 845-569-8114
                </p>
                <section>
                    <!-- Facebook -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-facebook-f"></i
                        ></a>

                    <!-- Twitter -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #55acee;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-twitter"></i
                        ></a>

                    <!-- Google -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #dd4b39;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-google"></i
                        ></a>

                    <!-- Instagram -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-instagram"></i
                        ></a>

                    <!-- Linkedin -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-linkedin-in"></i
                        ></a>
                    <!-- Github -->
                    <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #333333;"
                            href="#!"
                            role="button"
                    ><i class="fab fa-github"></i
                        ></a>
                </section>
            </div>
            <div class="col-lg-5 mb-4">
                <img src="/assets/valentina_stubbs_full.png" id="hide-1" class="img-fluid w-100" alt="valentina_stubbs" />
                <img src="/assets/valentine_stubbs_short.png" id="hide-2" class="img-fluid w-100" alt="valentina_stubbs" />
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>