<!doctype html>
<html lang="en">
<%- include("layouts/head") -%>
<style>
    .bg-intro {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url("assets/home-hero-image.png")
        no-repeat center center fixed;
        background-size: cover;
        height: 90vh;
    }
</style>
<body>
<header class="bg-intro">
    <%- include("layouts/navBar") -%>
    <div>
        <section class="container">
            <section class="row justify-content-center text-info align-items-center text-md-center text-start align-items-center"
                     style="height: 140vh;">
                <div class="col-lg-10">
                    <h1 class="display-5 fadeIn mb-2 fw-light">The <span class="fw-bold">A.M.E.</span> Zion Church of Newburgh</h1>
                    <p class="h4 fadeInLeft delay-1">
                        To God be all of our faith, love, and worship from the heart.
                    </p>
                    <div class="btn-container fadeIn delay-2">
                        <a href="#contact" class="button type--A">
                            <div class="button__line"></div>
                            <div class="button__line"></div>
                            <span class="button__text">Worship With Us</span>
                            <div class="button__drow1"></div>
                            <div class="button__drow2"></div>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </div>
</header>
<main>
    <section class="container my-5 py-3">
        <article class="row justify-content-lg-start justify-content-center text-lg-start mb-5 pb-2">
            <div class="col-lg-4 mb-lg-0 mb-3">
                <p class="h5 mb-2 text-info fw-bold">Event Title</p>
                <hr class="w-25">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut culpa delectus dicta enim error.
                </p>
                <a href="" class="btn btn-outline-primary">Read More</a>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <p class="h5 mb-2 text-info fw-bold">Event Title</p>
                <hr class="w-25">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut culpa delectus dicta enim error.
                </p>
                <a href="" class="btn btn-outline-primary">Read More</a>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-3">
                <p class="h5 mb-2 text-info fw-bold">Event Title</p>
                <hr class="w-25">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut culpa delectus dicta enim error.
                </p>
                <a href="" class="btn btn-outline-primary">Read More</a>
            </div>
        </article>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 mb-lg-0 mb-3">
                <img src="/assets/full-logo.png" class="img-fluid" alt="main logo">
            </div>
            <div class="col-lg-7 mb-lg-0 mb-3">
                <div id="fadeInAbout">
                    <h2 class="display-4 text-info fw-light">About Us</h2>
                    <p class="text-muted mb-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis necessitatibus veniam. Accusantium deleniti facilis maxime quod? Aspernatur est, quas. Aliquam, dicta error numquam pariatur provident reiciendis rerum tempora unde!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum, cumque cupiditate dicta dignissimos eius, excepturi illo ipsum libero minus modi neque porro quidem, quos similique totam vitae voluptas voluptatum?
                    </p>
                    <a class="btn btn-outline-primary"
                       href="./src/public/assets/MEMBERSHIP_MANUAL_(Revised_November 2025).pdf"
                       target="_blank">
                        Become A Member
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-7">

        <style>
            @media (max-width: 767px) {
                #streak {
                    height: 700px !important;
                }
            }
        </style>

        <div id="streak" class="bg-image bg-fixed text-center"
             style="background-image: url('https://www.indystar.com/gcdn/presto/2019/07/12/PIND/c4f6e8ba-c234-4706-9c6a-7dea9d743f5c-BlackexpoEcumenicalService_GH_060.JPG?crop=2277'); height: 400px;">
            <div class="mask" style="background-color: rgba(0,0,0,.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h2 class="mb-3">Come Worship With Us, We're Growing!!!</h2>
                        <p class="mb-5">Friday 17/10/2018, 8:00 am</p>
                        <div class="row">
                            <div class="col-md-4">
                                <hr class="mx-5" style="opacity: 1;">
                                <h2 class="display-4 text-primary font-weight-bold">
                                    <strong>20</strong>
                                </h2>
                                <hr class="mx-5" style="opacity: 1;">
                                <p class="font-weight-bold text-uppercase mb-0 text-info">days</p>
                            </div>
                            <div class="col-md-4">
                                <h2 class="display-4 font-weight-bold mx-4 py-3 my-3" style="background-color: rgba(255,255,255,.2);">
                                    <strong class="text-primary">12</strong>
                                </h2>
                                <p class="font-weight-bold text-info text-uppercase pt-1 mb-0">hours</p>
                            </div>
                            <div class="col-md-4">
                                <hr class="mx-5" style="opacity: 1;">
                                <h2 class="display-4 font-weight-bold">
                                    <strong class="text-primary">35</strong>
                                </h2>
                                <hr class="mx-5" style="opacity: 1;">
                                <p class="font-weight-bold text-info mb-0">MINS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="container mb-7">
        <div class="row justify-content-lg-start justify-content-center mb-6 text-lg-start text-center">
            <div class="col-12">
                <h4 class="display-4 fw-light">Our Church <span class="fw-bold text-info">Programs</span></h4>
                <p>
                    We invite you to come and be a part of Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt molestias nobis repellendus velit vitae. Ad aliquam cumque delectus dolor explicabo harum, illum ipsum officia porro, quia quidem saepe tempore, voluptatibus!
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="flip-card rounded-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://mensministrycatalyst.org/wp-content/uploads/2022/07/men-bible-study.jpg"
                                 class="shadow-lg"
                                 alt="Avatar"
                                 style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <div class="row mx-auto justify-content-center align-items-center pt-3">
                                <div class="col-10">
                                    <p class="h5">Men's Bible Study</p>
                                    <p>
                                        Join Us Wednesdays at 6:00am for Men's Bible study and
                                        hear what we have to say about enriching each other's lives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="flip-card rounded-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://answeredfaith.com/wp-content/uploads/2024/07/womens-bible-study-activities.jpg"
                                 class="shadow-lg"
                                 alt="Avatar"
                                 style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <div class="row mx-auto justify-content-center align-items-center pt-3">
                                <div class="col-10">
                                    <p class="h5">Women's Brunch</p>
                                    <p>
                                        Join Us Wednesdays at 6:00am for Men's Bible study and
                                        hear what we have to say about enriching each other's lives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="flip-card rounded-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://media.istockphoto.com/id/520370326/photo/librarian-reads-aloud-to-a-group-of-children.jpg?s=612x612&w=0&k=20&c=Uye1yX3WV6nIARTkXQWoP7fUWbvsmNsbwRyNKbQiKjo="
                                 class="shadow-lg"
                                 alt="Avatar"
                                 style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <div class="row mx-auto justify-content-center align-items-center pt-3">
                                <div class="col-10">
                                    <p class="h5">Kid's Bible Study</p>
                                    <p>
                                        Join Us Wednesdays at 6:00am for Men's Bible study and
                                        hear what we have to say about enriching each other's lives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="flip-card rounded-3">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="https://cdn.arstechnica.net/wp-content/uploads/2023/06/ai_church_hero_3-800x450.jpg"
                                 class="shadow-lg"
                                 alt="Avatar"
                                 style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <div class="row mx-auto justify-content-center align-items-center pt-3">
                                <div class="col-10">
                                    <p class="h5">Sunday Morning</p>
                                    <p>
                                        Join Us Wednesdays at 6:00am for Men's Bible study and
                                        hear what we have to say about enriching each other's lives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section: Design Block -->
        <section class="mb-6 text-center text-lg-start">
            <style>
                .cascading-right {
                    margin-right: -50px;
                }
                @media (max-width: 991.98px) {
                    .cascading-right {
                        margin-right: 0;
                    }
                }
            </style>

            <!-- Jumbotron -->
            <div class="container py-4">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card cascading-right" style="
                                                   background: hsla(0, 0%, 100%, 0.55);
                                                   backdrop-filter: blur(30px);
                                                   ">
                            <div class="card-body py-5 px-md-5 shadow-5">
                                <h3 class="fw-bold">Lead Us In Prayer</h3>
                                <h5 class="text-primary mb-4">Prayers To Start The Day</h5>

                                <p class="text-muted mb-2" id="fadeInPrayer1">
                                    “Let the morning bring me word of your unfailing love, for I have put my trust in you. Show me the way I should go, for to you I entrust my life.” <strong>—Psalm 143:8</strong>
                                </p>
                                <p class="text-muted mb-2" id="fadeInPrayer2">
                                    “Guide me in your truth and teach me, for you are God my Savior, and my hope is in you all day long.” <strong>—Psalm 25:5</strong>
                                </p>
                                <p class="text-muted mb-2" id="fadeInPrayer3">
                                    “Lord, be gracious to us; we long for you. Be our strength every morning, our salvation in time of distress.” <strong>—Isaiah 33:2</strong>
                                </p>
                                <p class="text-muted mb-2" id="fadeInPrayer4">
                                    “Satisfy us in the morning with your unfailing love, that we may sing for joy and be glad all our days.” <strong>—Psalm 90:14</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <img src="https://cdn.pixabay.com/photo/2024/05/29/23/45/praying-8797403_1280.jpg"
                             class="w-100 rounded-5 shadow-4" alt="power of prayer">
                    </div>
                </div>
            </div>
            <!-- Jumbotron -->
        </section>
        <!-- Section: Design Block -->
        <section class="mb-8">
            <h2 class="fw-bold mb-4 ps-4 text-info">Frequently asked questions</h2>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-collapse-init
                                data-mdb-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne"
                        >
                            <strong>Anim pariatur cliche reprehenderit?</strong>
                        </button>
                    </h2>
                    <div
                            id="flush-collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="flush-headingOne"
                            data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body text-muted">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-collapse-init
                                data-mdb-target="#flush-collapseTwo"
                                aria-expanded="false"
                                aria-controls="flush-collapseTwo"
                        >
                            <strong>Non cupidatat skateboard dolor brunch?</strong>
                        </button>
                    </h2>
                    <div
                            id="flush-collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo"
                            data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia aute,
                            non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                            put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                            wes anderson cred nesciunt sapiente ea proident. Ad vegan
                            excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button
                                class="accordion-button collapsed"
                                type="button"
                                data-mdb-collapse-init
                                data-mdb-target="#flush-collapseThree"
                                aria-expanded="false"
                                aria-controls="flush-collapseThree"
                        >
                            <strong
                            >Praesentium voluptatibus temporibus consequatur non
                                aspernatur?</strong
                            >
                        </button>
                    </h2>
                    <div
                            id="flush-collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree"
                            data-mdb-parent="#accordionFlushExample"
                    >
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                            optio vitae inventore autem fugiat rerum sed laborum. Natus
                            recusandae laboriosam quos pariatur corrupti id dignissimos
                            deserunt, praesentium voluptatibus temporibus consequatur non
                            aspernatur laborum rerum nemo dolorem libero inventore provident
                            exercitationem sunt totam aperiam. Facere sunt quos commodi
                            obcaecati temporibus alias amet! Quam quisquam laboriosam quae
                            repellendus non cum adipisci odio?
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-4">

            <div class="row gx-lg-5">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <form>
                        <!-- Name input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="form4Example1" class="form-control" />
                            <label class="form-label" for="form4Example1">Name</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="email" id="form4Example2" class="form-control" />
                            <label class="form-label" for="form4Example2"
                            >Email address</label
                            >
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
            <textarea
                    class="form-control"
                    id="form4Example3"
                    rows="4"
            ></textarea>
                            <label class="form-label" for="form4Example3">Message</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input
                                    class="form-check-input me-2"
                                    type="checkbox"
                                    value=""
                                    id="form4Example4"
                                    checked
                            />
                            <label class="form-check-label" for="form4Example4">
                                Send me a copy of this message
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4" data-mdb-ripple-init>
                            Send
                        </button>
                    </form>
                </div>

                <div class="col-lg-7 mb-4 mb-md-0">
                    <h2 class="fw-bold mb-5">Contact us</h2>
                    <div class="row gx-lg-5">
                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-headset fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="fw-bold mb-1">Technical support</p>
                                    <p class="text-muted mb-0">support@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-dollar-sign fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="fw-bold mb-1">Sales questions</p>
                                    <p class="text-muted mb-0">sales@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-newspaper fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="fw-bold mb-1">Press</p>
                                    <p class="text-muted mb-0">press@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-5">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <div class="p-3 badge-primary rounded-4">
                                        <i class="fas fa-bug fa-lg fa-fw"></i>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <p class="fw-bold mb-1">Bug report</p>
                                    <p class="text-muted mb-0">bugs@example.com</p>
                                    <p class="text-muted mb-0">+1 234-567-89</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </section>
</main>
<%- include("layouts/footer") -%>
</body>
</html>
