<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    .intro-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://static.vecteezy.com/system/resources/thumbnails/011/890/681/small_2x/christ-religion-and-christianity-worship-or-pray-concept-christian-catholic-woman-are-praying-to-god-in-dark-at-church-prayer-person-hand-in-black-background-girl-believe-and-faith-in-jesus-christ-photo.jpg"),
        no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
        height: 60vh;
    }
</style>
<body>
<header class="mb-10">
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container mb-6">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 text-lg-start text-center">
                <h1 class="fw-bold display-4 mb-1">In Him We Trust</h1>
                <p class="lead fw-light mb-4">REFERRED TO THE BOOKS OF MATHEW, LUKE, JOHN, ROMANS, HEBREW, AND EPHESIANS</p>
                <div class="col-lg-12 mb-lg-0 mb-3">
                    <p class="h4 mb-2 text-primary">I'm not sure if I'm saved</p>
                    <p class="text-muted">
                        We are not all children of God. Because of one man (Adam) we are born into sin. And through another
                        Man (Jesus) we have everlasting life and forgiveness, if we accept him into our hearts. When Adam sinned, the ground produced thorns and thistles.
                        When Jesus was being persecuted, he was given the crown of thorns. Which was thorns and thistles. He is the seed of David,
                        going all the way back to Adam. When Jesus rode on the donkey to the eastern gate in Jerusalem, he fulfilled scripture.
                        The gate he rode into was for sacrifices, because He was the sacrifice for our sins. He did say, "Father, take this cup from me."
                        But then, He said, "No, for this reason I had come. Father, glorify your name." And He did with the sounds of thunder.
                    </p>
                    <p class="text-muted">
                        Well, there's really only One way to know for sure, and it's written in the Holy Bible.
                        Several places had mentioned from Jesus and His apostles concerning salvation. They all say the
                        same thing, and that's only through Jesus Christ. You must realize that you are a sinner and in
                        need of salvation. Salvation is not based upon feelings, works by you, water baptism, or
                        how religous you are. Jesus is the only way. Baptism is an act of obedience. With your heart you
                        believe unto rightousness and from the mouth you confess unto salvation. Only believing it is not
                        enough, because even the demons believe. For they were in God's kingdom while they were angels.
                    </p>
                    <p class="text-muted">
                        It takes faith, and faith without works is dead. When you had the intimate contact with God's Holy Spirit,
                        you know He's calling you, knocking at your door. In that moment, you come to Him. And pray that you recognize that you're a sinner,
                        and you ask for forgiveness. You repent and follow Jesus. You believe He is the Son of God, died for your sins,
                        and rose from the dead on the 3rd day. In the bible it does say, "Whosoever call upon His name shall be saved."
                        And then John 3:16, "For God so loved the world, that He gave His on begotten Son. That whosoever believes in
                        Him, shall not perish, but shall have everlasting life."
                    </p>
                    <p class="text-muted">
                        The <strong>difference</strong> between faith and belief is that faith is giving it all to Jesus. 100% of your
                        trust & soul (your heart), mind, body, and strength. With those to Him you shall worship and pray. In spirit and in truth.
                        Belief is just simply believing or recognizing that yeah, there's a God and Jesus died on mount skulls. We celeberate His birth
                        on December 25th, I go to church all the time, every Sunday, etc. That's not the saving kind of Faith. The saving Faith is only
                        through Jesus Christ. Giving Him all of your heart, life, mind, unto true repentance. Repentance meaning that you turn
                        from your old past and surrounder it all to Him. Take up your cross and follow Him means that.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>