<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>

<main class="mt-5 pt-3 mb-7">
    <section class="container">
        <div class="row justify-content-center text-md-start text-center align-items-center">
            <div class="col-lg-12 mb-4">
                <div class="row align-items-center">
                    <div class="col-lg-5 mb-lg-0 mb-3">
                        <img src="/assets/members.png" class="img-fluid" alt="members image" />
                    </div>
                    <div class="col-lg-7 mb-lg-0 mb-3">
                        <h1 class="text-info dipslay-1 fw-bold">Want To Join Us?</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio nam quaerat quisquam temporibus. Aspernatur deserunt earum enim ex facilis fuga illo, magnam, nam non placeat provident tempore voluptas voluptatem.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore dolores earum facere officiis perferendis velit. Ad animi aut deleniti dolorem laboriosam nostrum, praesentium quidem quod, reiciendis totam vero voluptate.
                            Become something bigger than you ever were before, learn about our <a href="assets/MEMBERSHIP_MANUAL_(Revised_November 2025).pdf" class="text-decoration-underline text-danger" target="_blank">Membership PDF</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-0 mb-4">
                <h3 class="mb-2">Serve the Lord</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores dicta enim excepturi explicabo hic labore, magnam magni maiores, quas repellat sequi voluptate? Aspernatur, deserunt dolor eaque ex ipsa nam!
                </p>
            </div>
            <div class="col-lg-6 col-lg-0 mb-4">
                <h2 class="h3 mb-2">Serve the Community</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquam aliquid amet assumenda corporis culpa cumque dolor earum enim expedita fugit, labore nemo nulla, quisquam recusandae totam vero voluptatibus.
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>