<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container text-lg-start text-center" style="margin-top: 120px; margin-bottom: 70px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 mb-3">
                <h1 class="display-4 text-info fw-light">
                    Our
                    <span class="fw-bold">Mission</span>
                    & Vision
                </h1>
            </div>
            <div class="col-12">
                <h2 class="h1 fw-bold mb-2">We Make One</h2>
                <h3 class="h4 mb-4">Then We Grow Longer</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae debitis eaque, enim eos laboriosam magnam magni molestiae, officiis possimus quae quis repudiandae, sapiente soluta unde velit voluptas.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores consequatur corporis doloremque doloribus ducimus, ea eos iste labore libero mollitia nihil non numquam sint sunt ut, veritatis voluptas voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eius esse fuga impedit labore, sapiente ut voluptatum! Atque dignissimos et eveniet fuga laboriosam laborum placeat quisquam quos rerum suscipit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae debitis eaque, enim eos laboriosam magnam magni molestiae, officiis possimus quae quis repudiandae, sapiente soluta unde velit voluptas.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores consequatur corporis doloremque doloribus ducimus, ea eos iste labore libero mollitia nihil non numquam sint sunt ut, veritatis voluptas voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eius esse fuga impedit labore, sapiente ut voluptatum! Atque dignissimos et eveniet fuga laboriosam laborum placeat quisquam quos rerum suscipit.
                </p>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur consequuntur distinctio dolor dolorem doloremque eius ex inventore iure magni minima, modi omnis optio quis quisquam ratione reiciendis ut veniam?
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur consequuntur distinctio dolor dolorem doloremque eius ex inventore iure magni minima, modi omnis optio quis quisquam ratione reiciendis ut veniam?
                    </li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem beatae debitis eaque, enim eos laboriosam magnam magni molestiae, officiis possimus quae quis repudiandae, sapiente soluta unde velit voluptas.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores consequatur corporis doloremque doloribus ducimus, ea eos iste labore libero mollitia nihil non numquam sint sunt ut, veritatis voluptas voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ducimus eius esse fuga impedit labore, sapiente ut voluptatum! Atque dignissimos et eveniet fuga laboriosam laborum placeat quisquam quos rerum suscipit.
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>