<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container text-lg-start text-center" style="margin-top: 120px; margin-bottom: 70px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 mb-3">
                <h1 class="display-4 text-info fw-light">
                    Our
                    <span class="fw-bold">Mission</span>
                    & Vision
                </h1>
            </div>
            <div class="col-12">
                <h2 class="h1 fw-bold mb-2">AME Zion Church</h2>
                <h3 class="h4 mb-4">May the glory be to God</h3>
                <p class="lead">
                    Our Mission requires us to
                    increase our love for God and to help
                    meet the needs of humankind by
                    “loving God with all our heart, with
                    all our soul, and with all our mind,
                    and to love our neighbor as
                    ourselves.” We believe that the
                    church should have a positive
                    relationship with God vertically and a
                    positive relationship with humankind
                    horizontally. We share a mission with
                    His Son Jesus Christ, in “healing the
                    sick, helping the blind to receive
                    sight, the lame to walk, the leper to
                    be cleansed, the deaf to hear, the
                    dead to be raised, and the poor to
                    have the Good News preached to
                    them” Luke 4:18
                </p>
                <p>
                    The oldest African American Church
                    in the Hudson Valley. Rev. Milton Stubbs, Pastor
                    Office Phone: 845-569-8114,
                    Email:
                    amezionnewburgh@yahoo.com
                </p>
                <ul>
                    <li>
                        Sunday Morning Worship: @11:00 AM
                    </li>
                    <li>
                        Bible Study: Wednesday @noon
                        <ul>
                            <li>
                                Held on Church Conference number
                            </li>
                        </ul>
                    </li>
                    <li>
                        Prayer Service: Saturday @7:30 AM
                        <ul>
                            <li>
                                Held on Church Conference number
                            </li>
                        </ul>
                    </li>
                    <li>
                        Church Conference number (425)436-6301
                        access code 522286#
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>