<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>
<div class="container" style="margin-top: 150px; margin-bottom: 70px;">
    <div class="row justify-content-center flex-center text-center">
        <div class="col-md-8">
            <h1 class="mb-4">Create A New Event</h1>
            <form action="/store/event" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control mb-2" id="title">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="time" class="form-label">Time</label>
                        <input type="time" name="time" class="form-control mb-2" id="time">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="date" class="form-label">From Date</label>
                        <input type="date" name="date" class="form-control mb-2" id="date">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="date2" class="form-label">To Date</label>
                        <input type="date" name="date2" class="form-control mb-2" id="date2">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="day" class="form-label">What Day?</label>
                        <select name="day" id="day" class="form-control">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control mb-2" id="location">
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control mb-2" rows="2"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">submit event</button>
            </form>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>
</body>
</html>