<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main>
    <section class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-12 text-center">
                <img src="https://media.istockphoto.com/id/1288486074/vector/website-error-404-page-with-tiny-characters-holding-tools-for-repair-page-not-found-broken.jpg?s=612x612&w=0&k=20&c=o9vQjgyghYcYUJwhWfZn8fRyZU6oCMDaAH73L0lDE3g=" class="img-fluid" alt="Page Not Found" />
                <p>
                    <a href="/" class="btn btn-outline-success rounded-pill">Go Back Home</a>
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>