<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main style="margin-top: 140px; margin-bottom: 70px;">
    <section class="container">
        <div class="row justify-content-center text-md-start text-center align-items-center">
            <div class="col-lg-5 mb-4">
                <img src="/assets/lead-pastor.png" class="img-fluid mb-2 shadow-6-strong" alt="avatar" />
            </div>
            <div class="col-lg-7 mb-4">
                <h1 class="mb-3 fw-bold display-2 text-primary">Reverend Milton Stubbs</h1>
                <p class="text-muted">
                    Reverend Stubbs began his call to the ministry at Saint
                    Peter African Methodist Episcopal Zion Church in Clio,
                    South Carolina under the tutelage of the Reverend Robert
                    Gordon, where he preached his trial sermon in 1995. In
                    1996, Reverend Stubbs moved to Virginia Beach, VA and
                    was affiliated with the Saint Thomas African Methodist
                    Episcopal Zion Church in Norfolk, Virginia, under the
                    spiritual guidance of the Reverend Dr. General Scott. In
                    1998, Reverend Stubbs subsequently moved to New York
                    and became a member of the Rush Temple African
                    Methodist Episcopal Zion Church under the leadership of
                    the Reverend Dr. Eldridge Gittens. To this date, Reverend
                    Stubbs maintains his membership at Rush Temple, where
                    the current pastor is the Reverend Melvin Leroy Tate.
                </p>
            </div>
            <div class="col-12">
                <p>
                    In September 2001, Reverend Stubbs was ordained a Deacon and in September
                    2003 he was ordained an Elder, in the African Methodist Episcopal Zion Church.
                    In June 2003, Reverend Stubbs received his first pastoral appointment at the
                    John Jamison Moore Memorial African Methodist Episcopal Zion Church in the
                    Bronx, New York, where he served for three years. In June 2006, Reverend
                    Stubbs was appointed the pastor of the Mother Walls African Methodist
                    Episcopal Zion Church in the Bronx, New York, where is continues to serve
                    faithfully.
                </p>
                <p>
                    Born and raised in Bennettsville, South Carolina, Reverend Stubbs graduated
                    from Bennettsville High School and later graduated from the Gupton-Jones
                    College of Mortuary Science, Atlanta, Georgia.
                </p>
                <p>
                    Reverend Stubbs was formerly a Manager with the New York City Housing
                    Authority for approximately nine years, and is now fortunate to devote his time
                    and talents to full-time ministry. Besides his pastoral and family responsibilities,
                    Reverend Stubbs has also found time to do volunteer work and is a member of
                    the Bronx Community Board #3.
                </p>
                <p>
                    In June 2009, Reverend Stubbs married Valentina Kemp who he met while
                    working as the New York Annual Conference Secretary while she was working as
                    the Westchester District Secretary.
                </p>
                <p>
                    Reverend Stubbs is passionate about the word of God and its ability to transform
                    lives. He believes the heart to winning souls to Christ is not solely by what you
                    say, but by what people see as a result of your life. His favorite scripture is
                    Matthew 6:33 “But seek ye first his kingdom, and his righteousness; and all
                    these things shall be added unto you” (ASV).
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>