<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<style>
    .intro-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://static.vecteezy.com/system/resources/thumbnails/011/890/681/small_2x/christ-religion-and-christianity-worship-or-pray-concept-christian-catholic-woman-are-praying-to-god-in-dark-at-church-prayer-person-hand-in-black-background-girl-believe-and-faith-in-jesus-christ-photo.jpg"),
        no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
        height: 60vh;
    }
</style>
<body>
<header class="intro-bg">
    <%- include('layouts/navBar') -%>
    <section class="container">
        <div class="row justify-content-center text-white align-items-center"
             style="height: 70vh;">
            <div class="col-lg-12 text-center">
                <h1 class="text-info display-2">Prayer Request</h1>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center flex-row-reverse align-items-center mb-6">
            <div class="col-lg-5 mb-lg-0 mb-3">
                <h2 class="fw-bold mb-1 h1">Pray For Us:</h2>
                <p class="text-muted mb-1">
                    Most recent prayer post.
                </p>
                <div class="card">
                    <p class="card-header">Their Name</p>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Request Type</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem earum laboriosam laudantium libero necessitatibus numquam officia porro, quos sint, sit tenetur vitae voluptatibus. Aliquam nostrum quia quo sequi soluta.
                        </p>
                    </div>
                    <p class="card-footer">
                        Posted On: 01/30/2026, <u>Posted By: User</u>
                    </p>
                </div>
            </div>
            <div class="col-lg-7 text-md-start text-center">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Name input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="form4Example1" class="form-control" />
                                <label class="form-label" for="form4Example1">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Email input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="email" id="form4Example2" class="form-control" />
                                <label class="form-label" for="form4Example2"
                                >Your Email</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Name input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="personsName" class="form-control" />
                                <label class="form-label" for="personsName">Their Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-lg-0 mb-4">
                            <!-- Email input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="requestType" class="form-control" />
                                <label class="form-label" for="requestType"
                                >Request Type</label
                                >
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Message input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <textarea
                                        class="form-control"
                                        id="form4Example3"
                                        rows="7"
                                ></textarea>
                                <label class="form-label" for="form4Example3">More Details About This</label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4" data-mdb-ripple-init>
                                Share It Now
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center text-md-start text-center">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <div class="card">
                    <p class="card-header">Their Name</p>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Request Type</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem earum laboriosam laudantium libero necessitatibus numquam.
                        </p>
                    </div>
                    <p class="card-footer">
                        Posted On: 01/30/2026, <u>Posted By: User</u>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <div class="card">
                    <p class="card-header">Their Name</p>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Request Type</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem earum laboriosam laudantium libero necessitatibus numquam.
                        </p>
                    </div>
                    <p class="card-footer">
                        Posted On: 01/30/2026, <u>Posted By: User</u>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <div class="card">
                    <p class="card-header">Their Name</p>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Request Type</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem earum laboriosam laudantium libero necessitatibus numquam.
                        </p>
                    </div>
                    <p class="card-footer">
                        Posted On: 01/30/2026, <u>Posted By: User</u>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-3">
                <div class="card">
                    <p class="card-header">Their Name</p>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Request Type</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem earum laboriosam laudantium libero necessitatibus numquam.
                        </p>
                    </div>
                    <p class="card-footer">
                        Posted On: 01/30/2026, <u>Posted By: User</u>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>