<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header>
    <%- include('layouts/navBar') -%>
</header>

<main class="container" style="margin-top: 140px; margin-bottom: 90px;">
    <section class="row justify-content-center">
        <div class="col-md-10">
            <% if(errors != null && errors.length > 0) {%>
                <ul class="list-group">
                    <% for(var i = 0; i < errors.length; i++){ %>
                        <li class="list-group-item list-group-item-danger">
                            <%= errors[i] %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
            <h1 class="mb-4 text-center">Register For Access</h1>
            <form action="/register" method="POST">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="roles" class="form-label">Role</label>
                        <select name="role" id="roles" class="form-control" required>
                            <option value="" selected></option>
                            <option value="admin">Admin</option>
                            <option value="member">Member</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="fName" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="fName" id="fName" placeholder="Enter your first name">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="lName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="lName" id="lName" placeholder="Enter your last name">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your email">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-success">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- Footer -->
<%- include('layouts/footer') -%>
</body>
</html>