<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>

<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>
<main>
    <section class="container my-5 py-5 text-lg-start text-center">
        <div class="row justify-content-lg-start justify-content-center align-items-center">
            <div class="col-12 mb-5">
                <h1 class="display-4 text-info fw-light">Our Faithful <span class="fw-bold">Staff</span></h1>
                <hr class="w-25 my-3 bg-dark">
                <p class="tetx-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aliquid aspernatur atque cupiditate ducimus excepturi explicabo, ipsam itaque laudantium maiores optio pariatur quas quia quos sapiente similique sint voluptatibus?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat id, in molestiae nam nisi perferendis quis saepe tempora ullam? Alias asperiores earum eius, excepturi quis sit temporibus voluptatibus? Sapiente.
                </p>
            </div>

            <hr class="my-3">
            <div class="col-lg-3 mb-lg-0 mb-4">
                <img src="https://placehold.net/avatar-3.png" class="img-fluid" alt="avatar" />
            </div>
            <div class="col-lg-9 mb-lg-0 mb-4">
                <p class="h4 mb-2 text-info">FirstName LastName</p>
                <p class="text-primary">
                    <strong>Position:</strong> <small>CEO / Founder</small>
                </p>
                <p class="text-muted mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores consectetur, delectus dicta ea eum impedit laudantium natus placeat porro, quae quidem ratione totam unde ut vero voluptatem voluptates? Quidem!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi architecto at cupiditate deleniti doloremque, dolores eius eligendi error facere ipsam, labore nam nisi obcaecati quod rem repellendus sunt voluptate!
                </p>
            </div>
            <hr class="my-3">
            <div class="col-lg-3 mb-lg-0 mb-4">
                <img src="https://placehold.net/avatar-3.png" class="img-fluid" alt="avatar" />
            </div>
            <div class="col-lg-9 mb-lg-0 mb-4">
                <p class="h4 mb-2 text-info">FirstName LastName</p>
                <p class="text-primary">
                    <strong>Position:</strong> <small>CEO / Founder</small>
                </p>
                <p class="text-muted mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores consectetur, delectus dicta ea eum impedit laudantium natus placeat porro, quae quidem ratione totam unde ut vero voluptatem voluptates? Quidem!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi architecto at cupiditate deleniti doloremque, dolores eius eligendi error facere ipsam, labore nam nisi obcaecati quod rem repellendus sunt voluptate!
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>