<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>

<header class="mb-9">
    <%- include('layouts/navBar') -%>
</header>
<main>
    <section class="container my-5 py-5 text-lg-start text-center">
        <div class="row justify-content-lg-start justify-content-center align-items-center">
            <div class="col-12 mb-5">
                <h1 class="display-4 mb-2 text-info fw-light">Our Faithful <span class="fw-bold">Staff</span></h1>
                <h2 class="h3 mb-2 text-black">Episcopal and Local leadership</h2>
                <hr class="w-25 my-3 bg-dark">
                <p class="tetx-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aliquid aspernatur atque cupiditate ducimus excepturi explicabo, ipsam itaque laudantium maiores optio pariatur quas quia quos sapiente similique sint voluptatibus?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat id, in molestiae nam nisi perferendis quis saepe tempora ullam? Alias asperiores earum eius, excepturi quis sit temporibus voluptatibus? Sapiente.
                </p>
            </div>
            <div class="col-lg-4 text-center col-md-6 mb-lg-0 mb-4">
                <img src="/assets/crenshaw.png" class="img-fluid rounded-circle" alt="Bishop & Mrs. George D. Crenshaw" />
                <p class="h4 mb-2 text-info">Bishop & Mrs. George D. Crenshaw</p>
                <p class="text-primary">
                    <small>Presiding Prelate, North Eastern Episcopal District
                        AME Zion Church</small>
                </p>
            </div>
            <div class="col-lg-4 text-center col-md-6 mb-lg-0 mb-4">
                <img src="/assets/pogue.png" class="img-fluid rounded-circle" alt="Mrs. Stephen W. Pogue" />
                <p class="h4 mb-2 text-info">Mrs. Stephen W. Pogue</p>
                <p class="text-primary">
                    <small>Presiding Elder, Westchester District
                        AME Zion Church</small>
                </p>
            </div>
            <div class="col-lg-4 text-center col-md-12 mb-lg-0 mb-4">
                <img src="/assets/valentina.png" class="img-fluid rounded-circle" alt="Dr. Valentina Stubbs" />
                <p class="h4 mb-2 text-info">Dr. Valentina Stubbs</p>
                <p class="text-primary">
                    <small>First Lady
                        AME Zion Church of Newburgh</small>
                </p>
            </div>
        </div>
    </section>
</main>

<!-- MDB -->
<%- include('layouts/footer') -%>
</body>
</html>