<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="/assets/full-logo.png">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <link rel="canonical" href="your_url">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="title - about">
    <meta property="og:url" content=your_url>
    <meta property="og:site_name" content="company name">
    <meta property="og:image" content="your_url">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="2 minutes">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/mdb.min.css">
    <link rel="stylesheet" href="/main.css">
</head>