<nav>
    <section class="navigation fixed-top">
        <div class="nav-container">
            <div class="brand">
                <a href="/">
                    <img src="/assets/full-logo.png" height="55" width="65" alt="logo" />
                </a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">About Us</a>
                        <ul class="nav-dropdown">
                            <li><a href="/ourStaff">Meet Staff</a></li>
                            <li><a href="/ourFaith">Our Faith</a></li>
                            <li><a href="/missionAndVision">Mission & Vision</a></li>
                            <li><a href="/membership">Membership</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Involvement</a>
                        <ul class="nav-dropdown">
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="https://subsplash.com/u/-3WNQ3J/give?frequency=once&next_process_date=07/25/2025&fund_id=d0ad038b-9fac-413b-a576-29cbcac9788e" target="_blank">Give</a></li>
                            <li><a href="https://www.youtube.com/@HopeChurchLawton513" target="_blank">Videos</a></li>
                            <li><a href="/serve">Serve</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Missions</a>
                        <ul class="nav-dropdown">
                            <li><a href="/hopeForTheCity">Hope For City</a></li>
                            <li><a href="/hopeForTheNation">Hope For Nation</a></li>
                            <li><a href="/opportunities">Opportunities</a></li>
                        </ul>
                    </li>
                    <li>
                        <% if(!loggedIn) { %>
                            <a href="#!">Users</a>
                        <% } else { %>
                            <a href="#!">Actions</a>
                        <% } %>
                        <ul class="nav-dropdown">
                            <li><a href="/prayerRequest">Prayer Requests</a></li>
                            <% if(!loggedIn) { %>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">User Login</a></li>
                            <% } else { %>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Profiles</a></li>
                                <hr>
                                <li><a href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </li>
                    <li><a href="/#contact">Donate <i class="fab fa-paypal"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
</nav>