<nav>
    <section class="navigation fixed-top">
        <div class="nav-container">
            <div class="brand">
                <a href="/">
                    <img src="/assets/full-logo.png" height="55" width="65" alt="logo" />
                </a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">About Us</a>
                        <ul class="nav-dropdown">
                            <li><a href="/staff">Meet Staff</a></li>
                            <li><a href="/missionAndVision">Mission & Vision</a></li>
                            <li><a href="assets/MEMBERSHIP_MANUAL_(Revised_November 2025).pdf" target="_blank">Membership</a></li>
                            <li><a href="/privacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Involvement</a>
                        <ul class="nav-dropdown">
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="#!">Videos</a></li>
                            <li><a href="/inHimWeTrust">Salvation</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Missions</a>
                        <ul class="nav-dropdown">
                            <li><a href="/hopeForTheCity">Hope For City</a></li>
                            <li><a href="/hopeForTheNation">Hope For Nation</a></li>
                            <li><a href="/opportunities">Opportunities</a></li>
                        </ul>
                    </li>
                    <li>
                        <% if(!loggedIn) { %>
                            <a href="#!">Users</a>
                        <% } else { %>
                            <a href="#!">Actions</a>
                        <% } %>
                        <ul class="nav-dropdown">
                            <li><a href="/prayerRequest">Prayer Requests</a></li>
                            <% if(!loggedIn) { %>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">User Login</a></li>
                            <% } else { %>
                                <li><a href="/admin">Admin Only</a></li>
                                <li><a href="#">Profiles</a></li>
                                <hr>
                                <li><a href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </li>
                    <li><a href="/#contact">Donate <i class="fab fa-paypal"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
</nav>